<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Share-CodeMate</title>
    {%  load staticfiles %}
    <link rel="stylesheet" type="text/css" href="{% static 'create/style.css' %}"/>
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
    <link href="https://fonts.googleapi.com/css?family=Satisfy" rel="stylesheet" type="text/css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
     <script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.2.6/ace.js" type="text/javascript" charset="utf-8"></script>

</head>
<body>
    <nav class="navbar navbar-inverse">
        <div  class="container-fluid">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#topNavBar">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>

        </button>
            <a class="navbar-brand" href="{% url 'create:index' %} "><img src={% static 'create/images/capture.JPG' %} style="height:165%;border-radius:10px;"></a>


        <!--Items-->
        <ul class="nav navbar-nav navbar-right">

            <li class="">
                <a href="#"><span style="color:white">Sign Up</span></a>
            </li>
            <li class="">
                <a href="#"><span style="color:white">Login</span></a>
            </li>
            <li class="">
                <a href="#"<span style="color:white">Blog</span></a>
            </li>
        </ul>
        </div>
    </nav>



    <form action="{%  url 'create:addObject' %}" method="POST">
        {% csrf_token %}
       <div class="upper">


        <select id="id_lang" style="background-color: lightblue; border-radius: 30px; padding: 10px 24px; margin-left: 6%;" name="lang">
            {% include "create/lang.html" %}
        </select>
           <select id="id_theme" style="background-color: lightblue; border-radius: 30px; padding: 10px 24px; margin-left: 8%;position: absolute" name="theme">
            {% include "create/theme.html" %}
        </select>
        <input type="text" class='slug' name='slug' maxlength='10'  id='id_slug'  style=" text-align: center; background-color: lightblue; border-radius: 30px; padding: 8px 44px; margin-left: 35%; position: absolute;">

        <script>
            function makeid() {
              var text = "";
              var possible = "ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789";

              for (var i = 0; i < 8; i++)
                text += possible.charAt(Math.floor(Math.random() * possible.length));

              return text;
            }


            document.getElementById("id_slug").value = makeid();
        </script>
    <input type="submit" value="Share Code" style="margin-left: 65%; background-color: lightblue; border-radius: 30px; padding: 10px 24px;position: absolute;"/><br><br>

       </div>


         <div id="editor" name="content" style="height: 600px; width: 1480px;margin-left: 17px;border-radius: 10px;"> </div>
             <textarea type='text' id='id_content' name='content' maxlength='1000000' style="display:none"></textarea>


             <script>
                var textarea = $('#id_content');
                var editor = ace.edit("editor");

                editor.setTheme("ace/theme/monokai");
                editor.getSession().setMode("ace/mode/javascript");

                editor.getSession().on('change', function () {
                textarea.val(editor.getSession().getValue());
                 });
                editor.focus()
                textarea.val(editor.getSession().getValue());
                $('#id_theme').on('change',function() {
                        editor.setTheme('ace/theme/'+$(this).val().toLowerCase());
                    });
                $('#id_lang').on('change',function() {
                        editor.setTheme('ace/mode/'+$(this).val().toLowerCase());
                    });
             </script>


    </form>

</body>
</html>
