{% block content %}

    <option>plain_text</option>
    <option>abap</option>
    <option>abc</option>
    <option>actionscript</option>
    <option>ada</option>
    <option>apache_conf</option>
    <option>applescript</option>
    <option>asciidoc</option>
    <option>asl</option>
    <option>assembly_x86</option>
    <option>autohotkey</option>
    <option>batchfile</option>
    <option>bro</option>
    <option>c9search</option>
    <option>cirru</option>
    <option>clojure</option>
    <option>cobol</option>
    <option>coffee</option>
    <option>coldfusion</option>
    <option>csharp</option>
    <option>csound_document</option>
    <option>csound_orchestra</option>
    <option>csound_score</option>
    <option>csp</option>
    <option>css</option>
    <option>curly</option>
    <option selected>c_cpp</option>
    <option>d</option>
    <option>dart</option>
    <option>diff</option>
    <option>django</option>
    <option>dockerfile</option>
    <option>dot</option>
    <option>drools</option>
    <option>edifact</option>
    <option>eiffel</option>
    <option>ejs</option>
    <option>elixir</option>
    <option>elm</option>
    <option>erlang</option>
    <option>forth</option>
    <option>fortran</option>
    <option>ftl</option>
    <option>gcode</option>
    <option>gherkin</option>
    <option>gitignore</option>
    <option>glsl</option>
    <option>gobstones</option>
    <option>golang</option>
    <option>graphqlschema</option>
    <option>groovy</option>
    <option>haml</option>
    <option>handlebars</option>
    <option>haskell</option>
    <option>haskell_cabal</option>
    <option>haxe</option>
    <option>hjson</option>
    <option>html</option>
    <option>html_elixir</option>
    <option>html_ruby</option>
    <option>ini</option>
    <option>io</option>
    <option>jack</option>
    <option>jade</option>
    <option>java</option>
    <option>javascript</option>
    <option>json</option>
    <option>jsoniq</option>
    <option>jsp</option>
    <option>jssm</option>
    <option>jsx</option>
    <option>julia</option>
    <option>kotlin</option>
    <option>latex</option>
    <option>less</option>
    <option>liquid</option>
    <option>lisp</option>
    <option>livescript</option>
    <option>logiql</option>
    <option>lsl</option>
    <option>lua</option>
    <option>luapage</option>
    <option>lucene</option>
    <option>makefile</option>
    <option>markdown</option>
    <option>mask</option>
    <option>matlab</option>
    <option>maze</option>
    <option>mel</option>
    <option>mixal</option>
    <option>mushcode</option>
    <option>mysql</option>
    <option>nix</option>
    <option>nsis</option>
    <option>objectivec</option>
    <option>ocaml</option>
    <option>pascal</option>
    <option>perl</option>
    <option>pgsql</option>
    <option>php</option>
    <option>pig</option>
    <option>plain_text</option>
    <option>powershell</option>
    <option>praat</option>
    <option>prolog</option>
    <option>properties</option>
    <option>protobuf</option>
    <option>python</option>
    <option>r</option>
    <option>razor</option>
    <option>rdoc</option>
    <option>red</option>
    <option>redshift</option>
    <option>rhtml</option>
    <option>rst</option>
    <option>ruby</option>
    <option>rust</option>
    <option>sass</option>
    <option>scad</option>
    <option>scala</option>
    <option>scheme</option>
    <option>scss</option>
    <option>sh</option>
    <option>sjs</option>
    <option>smarty</option>
    <option>snippets</option>
    <option>soy_template</option>
    <option>space</option>
    <option>sparql</option>
    <option>sql</option>
    <option>sqlserver</option>
    <option>stylus</option>
    <option>svg</option>
    <option>swift</option>
    <option>tcl</option>
    <option>tex</option>
    <option>text</option>
    <option>textile</option>
    <option>toml</option>
    <option>tsx</option>
    <option>turtle</option>
    <option>twig</option>
    <option>typescript</option>
    <option>vala</option>
    <option>vbscript</option>
    <option>velocity</option>
    <option>verilog</option>
    <option>vhdl</option>
    <option>wollok</option>
    <option>xml</option>
    <option>xquery</option>
    <option>yaml</option>


{% endblock %}